.our__projects {
    background: linear-gradient(to bottom, rgba(99, 173, 207, 0.637),  rgba(35, 83, 145, 0.774)),url('../images/projects__imgback.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.our__projects__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
.our_projects__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
    color: white;
}
.our_projects__content  h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.our_projects__content p {
    font-size: 1.2rem;
}

.our__projects__cards {
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.our__projects__card {
    margin-left: 5rem;
    color: white;
    border-radius: 5px;
}
.project__img {
    position: relative;
}
.our__projects__card img {
    width: 80%;
    border-radius: 5px;
        animation: delays 2s ease-in-out infinite 0s;
}
.project__img::after {
    content: '';
    position: absolute;
    width: 85%;
    height: 100%;
    top: 0;
    left: 0%;
    margin: 0;
    z-index: -1;
    transform: translate(0.5rem, -1rem);
    background-image: linear-gradient(to  bottom , #6DBBD9, #235492);
    opacity: 0.6;
    border-radius: 5px;
    animation: after 2s ease-in-out infinite 150ms;
}
.project__img::before {
    content: '';
    position: absolute;
    width: 85%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
    transform: translate(2rem, -2rem);
    background-image: linear-gradient(to  bottom , #6DBBD9, #235492);
    opacity: 0.6;
    border-radius: 5px;
    animation: before 2s ease-in-out infinite 100ms;
}

.project__card__text {
    margin-top: 1rem;
}
.project__card__text h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.project__card__text p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.project__card__btn {
    color: #FF9C00;
}

@keyframes after{
        0% , 100% {
        transform: translate(0.5rem, -1rem);
    }
        50% {
        transform: translate(0.5rem , -2rem);
    }
}

@keyframes before{
    0% , 100% {
        transform: translate(2rem, -2rem);
    }
    50% {
        transform: translate(2rem , -3rem);
    }
}

@keyframes delays {
0% , 100%{
    transform: translateY(0);
}
50% {
    transform:  translateY(-1rem);
}
}